body{
    background: url(sky.jpg) center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    height: 50px;
}

.navbar-inverse{
    background:rgba(0,0,0,0.5);
}

.navbar-nav{
    color:#fff;
}

ul{
    list-style: none;
    text-align: left;
    font-family: times new roman,sans-serif;
    font-size: 30px;
}

.nav li a{
    color:#fff;
    font-size:17px;
    margin-right:35px;
    margin-left: 50px;
    padding:10px 20px;
    
}
.nav li a:hover{
    border-bottom:1px solid #00FFB8;
    padding-bottom:9px;
    cursor:pointer;
    color: white;
    text-decoration: none;
}

.jumbotron{
    background-color: transparent;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 100px;
    font-family: times new roman,sans-serif;
}

h1{
    font-size: 70px;
     letter-spacing: 2px;
}

.container{
    max-width: 1000px;   
}

.bodyimage{
    height: 150px;
    margin-top: 100px;
}

.col-md-4{
    color: white;
    text-align: center;
}

.icons p{
    font-size: 20px;
}

.contact{
    text-align: center;
    margin-top: 30px;
}

.btn{
    background: rgba(0,255,184,0.8);
    border: none;
    border-radius: 10px;
    color:white;
    font-size: 20px;
    padding: 10px 70px;
    letter-spacing: 1.5px;
    margin-bottom: 150px;
}

.btn:hover{
    background: rgba(0,255,184);
    color:black;

}

.footer{
    background: rgba(0,0,0,0.7);
    color: white;
    font-size: 20px;
    padding: 10px 0;
}

@media (max-width:862px){
    .h1{
        font-size: 50px;
    }
    .bodyimage{
        height: 100px;
    }
}